# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=pkc-lzoyy.europe-west6.gcp.confluent.cloud:9092
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule   required username='J6KZNA6XAMAN3KY6'   password='StmqHrJwMavJNaZd3nrx7CxnTD073pSEYZyUKVR+twgRE2y2GcMit88Nf2/JJka3';
sasl.mechanism=PLAIN
# Required for correctness in Apache Kafka clients prior to 2.6
client.dns.lookup=use_all_dns_ips

# Best practice for Kafka producer to prevent data loss
acks=all

# Required connection configs for Confluent Cloud Schema Registry
schema.registry.url=https://psrc-d9vg7.europe-west3.gcp.confluent.cloud
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=XIDIIDTAOANJ4O5F:KoYLNZ8/V9V64aPc2m3shgu7Q090f1uK/7HKdxCIcRk5NK7yJd+STY+lKYXavfjZ
